#one{
  background-color: blue;
}
#two{
  background-color: green;
}
#three{
  background-color: yellow;
}
.columns{
  border:solid;
  border-width:1px;
  border-color:black;
}
.row{
  border-width:3px; 
  border-style:dashed;
  border-color:red;
}