#one{
  background-color: #D8D8D8;
}
#four{
  background-color: #0489B1;
}
#ten{
  background-color: #CEECF5;
}
.columns{
  border:solid;
  border-width:2px;
  border-color:#0B3B17
}
.row{
  border-width:5px; 
  border-style:outset;
  border-color:#58ACFA;
}